body {
  margin: auto; font-family: 'DM Sans'; max-width: 1080px;padding-top:100px;     
}
  
p{
  font-size:18 px; color: #6F6C90;
}

hr{
  height:1px;border-width:0;background-color:#D9DBE9; margin-top: 30px;margin-bottom: 40px;
}

.ratatengah{
  margin: auto;text-align: center;
}

.tab {
  margin: auto; margin-top: 23px; margin-bottom: 23px; 
  border: 1px solid #EFF0F6; width:698px; padding:40px; border-radius: 34px; 
  background-color:inherit; box-shadow: 0px 5px 16px 0px #080F340F;
  height:500px; display: none;
}


#atas{
  text-align: center; margin: auto;
}

span {
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em; 
  border:none;
}

#blue{
  background: #4A3AFF;
}

#grey{
  background: #EFF0F6; color: #6F6C90;
}

#colored {
  accent-color: #4A3AFF;width:98.69px; margin-right: 20px;
}

#greybar {
  width:98.69px; margin-right: 20px;
}

.ip2{
  width: 284px;
  height: 66px;
  border-radius: 46px;
  border: 1px solid #EFF0F6;
  box-shadow: 0px 2px 6px 0px #13124212;  
  padding-left: 20px;
  padding-right: 20px;
  background-position: right center; 
  background-repeat: no-repeat;
  background-size: 20.29px 25.83px;
  background-origin: content-box;
}

.pesanError{
  color:#962DFF; min-height: 22px;
}
.column {
  float: left;
  max-width: 50%;
  padding-left: 20px;
 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#prevBtn{
  border-radius: 56px; background-color: white; color:#4A3AFF;  width:165px; height: 61px; border: 1px solid #4A3AFF; float: left;margin-left:110px;display:none
}
#nextBtn{
  border-radius: 56px; background-color: #4A3AFF; color:white;  width:165px; height: 61px; box-shadow: 0px 3px 12px 0px #4A3AFF2E;border: none;float: right;margin-right:110px;
}

#sumbitBtn{
  border-radius: 56px; background-color: #4A3AFF; color:white;  width:165px; height: 61px; box-shadow: 0px 3px 12px 0px #4A3AFF2E;border: none;
}

#frm{
  max-width: 1080px; padding:40px;
}

.optionTab1{
  width: 320px;height: 114.77px; border-radius: 16px; border: 1px solid #EFF0F6; box-shadow: 0px 2px 6px 0px #13124212; background-color: white; margin-bottom: 20px;
}

.optionTab2{
  width: 280px; border-radius: 16px; border: 1px solid #EFF0F6; box-shadow: 0px 2px 6px 0px #13124212; 
  background-color: white; margin-bottom: 20px; padding-left:30px; padding-bottom: 50px; padding-top: 50px;
}

#circleTab1{
  width: 66.64px; height: 66.64px; border-radius: 50%; background: #E5E0F0; margin-left:22px;margin-top:22px;margin-bottom:22px;
}

#imgTab1{
  margin: 15px; 
}

#textTab1{
  float:left; margin-left:20px; margin-top:50px;margin-bottom:50px;
}

#centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#labelBudget{
  float:left;
  margin: auto;
}

#imgSubmit{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 157.36px;
  height: 143.41px;
}